{% block sidebar %}
<style>
        .card{
            box-shadow: 0 16px 48px  #b3b3ff;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog is made by Sonu shakya!</p>
        <a href="https://www.instagram.com/sonushakya9717/"
           class="btn btn-danger">Sonu Shakya</a>
    </div>
</div>
</div>
{% endblock sidebar %}

