{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignUp</title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"><br><br>
            <input type="email" name="email" placeholder="email"><br><br>
            <input type="password" name="passsword1" placeholder="Password"><br><br>
            <input type="text" name="passsword2" placeholder="Confirm Password"><br><br>
            <a href="log"><input type="submit"></a>
        </form>
    </body>
    </html>
{% endblock %} 